body{
  background-color:  	#d5e1ef;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  margin: auto;
  font-size: 100%;

}


.main{
  background-color: white;
  margin:0 auto;
  border-radius: 1rem;
  text-align: center;
  width:25%;
  align-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;


}

h3{
  font-family: 'Outfit', sans-serif;
  font-size:3vmin;

}
img{
  margin:auto;
  margin-top: 1rem;
  border-radius: 1rem;
  width:90%;



}

p{
  padding: 1rem 1rem;
  padding-bottom: 1.5rem;
  font-size:2vmin;


}
